/* html {
    font-size:16px or font-size:62.5% or don't specify and let browser set base font  */

*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family:'Lato', sans-serif;
    color: #2e354f;
}

input {
    font-size: 1rem;
    color:green;
    border:1px solid navy;
}

label {
    font-size: .75rem;
    color:black;
}



/* Typography */

form {
    border:2px solid navy;
}
ul {
    /*  1.5em = 150% */
    font-size: .5rem;
}

h1,
h2,
strong {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    margin-bottom: .5em;   /* = half of the font-size */
}

h2 {
    font-size: 2rem;
}

a {
    color:blue;
}
hr {
    border:1px solid black;
}

/* button {
    width:80px;
} */

/* Layout for iPhone (small devices) */
.parent {
    display:grid;
    width:100%;
    grid-template-rows: 40px 40px 40px 40px 40px 140px 40px 40px 40px 200px 200px; 
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-areas:"titleArea          titleArea"
                        "versionArea        versionArea"
                        "termArea           termArea"
                        "selectMemberArea   selectMemberArea"
                        "memberNameArea     memberNameArea" 
                        "coursesTakenArea   coursesTakenArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "offeringsArea      offeringsArea"
                        "enrollArea         enrollArea";
        
    border: 2px solid navy;
    margin: 0 auto;
    padding:0em;
    background-color: lightgray;
    
} 
.title {
    grid-area: titleArea;
    width:100%;
    padding-left:0em;
    padding-top:.5em;
    background-color:navy;
    color:white;
    font-size:.75rem;
    text-align:center;
}

.version {
    grid-area: versionArea;
    max-width:100%;
    text-align:center;
    padding-top:.75em;
    padding-right:1em;
    background-color: navy;
    color:white;
}
.termSection {
    grid-area: termArea;
    width:100%;
    padding-top:.25em;
    padding-right:0;
    text-align: center;
    background-color:navy;
    color:white;
    border-left:1px solid white;
    border-right:1px solid white;
}
.selectMemberSection {
    grid-area: selectMemberArea;
    max-width:100%;
    padding-top:.3em;
    text-align:center;
    background-color:navy;
    border-top:1px solid white;
    color:white;
}
.memberNameSection {
    grid-area:memberNameArea;
    text-align:center;
    padding-top:.75em;
    background-color: lightgray;
    color:navy;
    font-size:.5rem;
}

/* .hdgLinks {
    margin:0 auto;
} */

.coursesTakenSection {
    grid-area: coursesTakenArea;
    max-width: 100%;
    overflow-x:scroll;
    padding-left:0em;
    padding-right:0em;
    padding-bottom:3em;
    background-color: navajowhite;
    color:maroon;
}

.schedule {
    font-size:.5rem;
} 
.filterSection {
    grid-area:filterArea;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "filter1Area"
                        "filter2Area"
                        "filter3Area";
}   
.filter1Section {
    grid-area:filter1Area;
    max-width:100%;
    padding-top:.5em;
    padding-left:0em;
    text-align:left;
    background-color:navy;
    border-top:1px solid white;
    color:white;
}

.showOptions label {
    height:25px;
    margin-top:.3em;
    
}
.filter2Section {
    grid-area:filter2Area;
    max-width:100%;
    padding-top:.3em;
    padding-left:5.3em;
    background-color:navy;
    border-top:1px solid white;
    color:white;
}
.filter3Section {
    grid-area:filter3Area;
    max-width:100%;
    padding-top:.5em;
    text-align:center;
    background-color:navy;
    border-top:1px solid white;
    color:white;
}
.courseOfferingsSection {
    grid-area:offeringsArea;
    overflow-x:scroll;
    background-color: lightgray;
    font-size:.5rem;
}

.enrollSection {
    grid-area: enrollArea;
    overflow-x:scroll;
    background-color: lightsalmon;
    font-size:.5rem;
}

.setsQty {
    width:40px;
    height:20px;
    font-size:large;
    text-align:center;
    
}
.feesSection {
    grid-area: feesArea;
    background-color: pink;
}


/* SPECIFICATIONS FOR iPad PORTRAIT SCREENS */
@media (min-width: 768px) {
    .parent {
        display:grid;
        width:100%;
        grid-template-rows: 40px 40px 40px 200px 40px 150px 150px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"titleArea          titleArea           versionArea         versionArea"          
                            "termArea           termArea            selectMemberArea    selectMemberArea" 
                            "memberNameArea     memberNameArea      memberNameArea      memberNameArea"                   
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea";
        font-size:1rem;
        background-color:lightgreen;
    }

    .termSection {
        grid-area: termArea;
        width:100%;
        padding-top:.25em;
        padding-left:1em;
        border-top:1px solid white;
        text-align: left;
        background-color:navy;
        color:black;
        
    }
    .title {
        text-align:left;
    }
    .version {
        text-align: right;
    }
    .selectMemberSection {
        grid-area: selectMemberArea;
        max-width:100%;
        padding-top:.3em;
        padding-right:1em;
        border-top:1px solid white;
        text-align:right;
        background-color:navy;
        color:white;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align:center;
        padding-top:.75em;
        background-color: lightgray;
        color:navy;
    }
    .coursesTakenSection {
        grid-area: coursesTakenArea;
        max-width: 100%;
        overflow-x:scroll;
        padding-left:0em;
        padding-right:0em;
        background-color: maroon;
        font-size:.75rem;
        color:navajowhite;
        border:2px solid maroon;
    }
    
    .coursesTakenSection table {
        background-color: navajowhite;
        color:maroon;
    }
    table th, td {
        color:maroon;
    }
    .schedule{
        font-size:.75rem;
    }
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "filter1Area   filter2Area     filter3Area";
    }
    .filter1Section {
        grid-area:filter1Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        border-top:1px solid white;
        color:white;
        font-size:.5rem;
    }
    .filter2Section {
        grid-area:filter2Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        border-top:1px solid white;
        color:white;
    }
    .filter3Section {
        grid-area:filter3Area;
        max-width:100%;
        padding-top:0em;
        padding-right:.5em;
        text-align:center;
        background-color:navy;
        border-top:1px solid white;
        color:white;
    }
    .courseOfferingsSection {
        grid-area:offeringsArea;
        overflow:auto;
        background-color: lightgray;
        font-size:.75rem;
    }
    
    .enrollSection {
        grid-area: enrollArea;
        overflow:scroll;
        background-color: lightsalmon;
        font-size:.75rem;
    }
}

/* SPECIFICATIONS FOR iPad LANDSCAPE SCREENS */


/* SPECIFICATIONS FOR LAPTOP WITH MDP SCREENS */
@media (min-width: 1280px) {
    .parent {
        display:grid;
        width:95%;
        grid-template-rows: 40px 40px fit-content(200px) 40px fit-content(400px) 150px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"titleArea          termArea            selectMemberArea    versionArea"
                            "memberNameArea     memberNameArea      memberNameArea      memberNameArea"                   
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea";
                        
        border: 2px solid navy;
        margin: 0 auto;
        background-color: lightgray;
        
    } 
    .termSection {
        grid-area: termArea;
        width:100%;
        padding-top:.25em;
        padding-left:1em;
        text-align: left;
        background-color:navy;
        color:black;
        border:none;
        
    }
    .selectMemberSection {
        grid-area: selectMemberArea;
        max-width:100%;
        padding-top:.3em;
        padding-right:1em;
        text-align:right;
        background-color:navy;
        color:white;
        border:none;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align:center;
        padding-top:.75em;
        background-color: lightgray;
        color:navy;
    }
    .coursesTakenSection {
        grid-area: coursesTakenArea;
        max-width: 100%;
        overflow-x:scroll;
        padding-left:0em;
        padding-right:0em;
        background-color: maroon;
        font-size:.75rem;
        color:navajowhite;
        border:2px solid maroon;
    }
    
    .coursesTakenSection table {
        background-color: navajowhite;
        color:maroon;
    }
    table th, td {
        color:maroon;
    }
    .schedule{
        font-size:.75rem;
    }
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "filter1Area   filter2Area     filter3Area";
    }
    .filter1Section {
        grid-area:filter1Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        border-top:1px solid white;
        color:white;
        font-size:.5rem;
    }
    /* #showAll:active {
        background-color: yellow;
        color:red;
    } */
    .filter2Section {
        grid-area:filter2Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        border-top:1px solid white;
        color:white;
    }
    .filter3Section {
        grid-area:filter3Area;
        max-width:100%;
        padding-top:0em;
        padding-right:.5em;
        text-align:center;
        background-color:navy;
        border-top:1px solid white;
        color:white;
    }
    .courseOfferingsSection {
        grid-area:offeringsArea;
        overflow:auto;
        background-color: lightgray;
        font-size:.75rem;
    }
    
    .enrollSection {
        grid-area: enrollArea;
        overflow:scroll;
        background-color: lightsalmon;
        font-size:.75rem;
    }
}


/* SPECIFICATIONS FOR MONITOR  */
/* @media (min-width: 1440px) {
     
}*/