/* html {
    font-size:16px or font-size:62.5% or don't specify and let browser set base font  */

*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family:'Lato', sans-serif;
    color: #2e354f;
}

table tr td {
    padding:0px !important;
}
/* thead th {
    position: sticky;
    top: 0; 
} */
/* table tr:nth-child(even) {
    border-bottom:2px solid maroon;
} */
/* input {
    font-size: 1rem;
    color:green;
    border:1px solid navy;
} */

/* label {
    font-size: .75rem;
    color:black;
} */



/* Typography */

/* form {
    border:2px solid navy;
} */

h1,
h2,
strong {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    margin-bottom: .5em;   /* = half of the font-size */
}

h2 {
    font-size: 2rem;
}

/* a {
    color:blue;
} */
/* hr {
    border:1px solid black;
} */

/* button {
    width:80px;
} */

/* Layout for iPhone (small devices) */
.parent {
    display:grid;
    width:100%;
    grid-template-rows: 40px 40px 40px 40px 40px 140px 40px 40px 40px 200px 200px 40px; 
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-areas:"titleArea          titleArea"
                        "versionArea        versionArea"
                        "termArea           termArea"
                        "selectMemberArea   selectMemberArea"
                        "memberNameArea     memberNameArea" 
                        "coursesTakenArea   coursesTakenArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "offeringsArea      offeringsArea"
                        "enrollArea         enrollArea"
                        "processArea        processArea";
        
    margin: 0 auto;
    padding:0em;
    background-color: navy;
    border:1px solid navy;
} 
.title {
    grid-area: titleArea;
    width:100%;
    padding-left:0em;
    padding-top:.5em;
    background-color:navy;
    color:white;
    font-size:.75rem;
    text-align:center;
}

.version {
    grid-area: versionArea;
    max-width:100%;
    text-align:center;
    padding-top:.75em;
    padding-right:1em;
    background-color: navy;
    color:white;
}
.termSection {
    grid-area: termArea;
    width:100%;
    padding-top:.25em;
    padding-right:0;
    text-align: center;
    background-color:navy;
    color:white;
}
.selectMemberSection {
    grid-area: selectMemberArea;
    max-width:100%;
    padding-top:.3em;
    text-align:center;
    background-color:navy;
    color:white;
}
.memberNameSection {
    grid-area:memberNameArea;
    text-align:center;
    padding-top:.75em;
    background-color: lightgray;
    color:navy;
    font-size:.5rem;
}

/* .hdgLinks {
    margin:0 auto;
} */

.coursesTakenSection {
    grid-area: coursesTakenArea;
    max-width: 100%;
    padding-left:0em;
    padding-right:0em;
}
.coursesTakenHdg {
    background-color: navy;
    color:white;
    text-align:center;
}
.coursesTakenColHdg {
    background-color: navy;
    color:white;
}

.filterSection {
    grid-area:filterArea;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "filter1Area"
                        "filter2Area"
                        "filter3Area";
}   
.filter1Section {
    grid-area:filter1Area;
    max-width:100%;
    padding-top:.5em;
    padding-left:0em;
    text-align:left;
    background-color:navy;
    color:white;
    border-bottom:2px solid white;
}

.showOptions label {
    height:25px;
    margin-top:.3em;
    
}
.filter2Section {
    grid-area:filter2Area;
    max-width:100%;
    padding-top:.3em;
    padding-left:5.3em;
    background-color:navy;
    color:white;
    border-bottom:2px solid white;
}
.filter3Section {
    grid-area:filter3Area;
    max-width:100%;
    padding-top:.5em;
    text-align:center;
    background-color:navy;
    color:white;
    border-bottom:2px solid white;
}
.courseOfferingsSection {
    grid-area:offeringsArea;
    overflow-x:scroll;
    background-color: lightgray;
    font-size:.5rem;
}
.courseOfferingsHdg {
    background-color: navy;
    color:white;
    text-align:center;
}
.courseOfferingsColHdgs {
    background-color: navy;
    color:white;
}
.offerings {
    font-size: .5rem;
}
.enrollSection {
    grid-area: enrollArea;
    font-size:1rem;
}
.enrollHeading {
    background-color:navy;
    color:white;
    text-align:center;
}
.enrollColHdgs {
    background-color: navy;
    color:white;
}
/* .enrollDetail {
    background-color:lightgray;
    color:blue;
    overflow: scroll;
} */
/* .enrollment {
    background-color:lightblue;
    color:navy;
}
.setsQty {
    max-width: 45px;
    height:30px;

} */

.processSection {
    grid-area: processArea;
}

/* SPECIFICATIONS FOR iPad PORTRAIT SCREENS */
@media (min-width: 768px) {
    .parent {
        display:grid;
        width:100%;
        grid-template-rows: 40px 40px 40px 200px 40px 200px 200px 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"titleArea          titleArea           versionArea         versionArea"          
                            "termArea           termArea            selectMemberArea    selectMemberArea" 
                            "memberNameArea     memberNameArea      memberNameArea      memberNameArea"                   
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea"
                            "processArea        processArea         processArea         processArea";
        font-size:1rem;
        background-color:navy;
    }

    .termSection {
        grid-area: termArea;
        width:100%;
        padding-top:.25em;
        padding-left:1em;
        text-align: left;
        background-color:navy;
        color:black;
        
    }
    .title {
        text-align:left;
    }
    .version {
        grid-area: versionArea;
        text-align:center;
    }
    .selectMemberSection {
        grid-area: selectMemberArea;
        max-width:100%;
        padding-top:.3em;
        padding-right:1em;
        text-align:right;
        background-color:navy;
        color:white;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align:center;
        padding-top:.75em;
        background-color: lightgray;
        color:navy;
    }
    .coursesTakenSection {
        grid-area: coursesTakenArea;
        max-width: 100%;
    }
    .coursesTakenHdg {
        background-color: navy;
        color:white;
        text-align:left;
        
    }
    .coursesTakenColHdg {
        background-color: navy;
        color:white;
        padding-left:15em;
    }
    
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "filter1Area   filter2Area     filter3Area";
    }
    .filter1Section {
        grid-area:filter1Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        color:white;
        font-size:.5rem;
        border-bottom:2px solid white;
    }
    .filter2Section {
        grid-area:filter2Area;
        max-width:100%;
        padding-top:0em;
        padding-left:0em;
        background-color:navy;
        color:white;
        border-bottom:2px solid white;
    }
    .filter3Section {
        grid-area:filter3Area;
        max-width:100%;
        padding-top:0em;
        padding-right:.5em;
        text-align:center;
        background-color:navy;
        color:white;
        border-bottom:2px solid white;
    }
    .courseOfferingsSection {
        grid-area:offeringsArea;
        overflow:auto;
        background-color: lightgray;
        font-size:.75rem;
    }
    
    .courseOfferingsHdg {
        background-color: navy;
        color:white;
        text-align:left;
    }
    .courseOfferingsColHdgs {
        background-color: navy;
        color:white;
    }
    .offerings {
        font-size: .75rem;
    }
    .enrollSection {
        grid-area: enrollArea;
        font-size:1rem;
    }
    .enrollHeading {
        background-color: navy;
        color:white;
        text-align:left;
    }
    .enrollColHdgs {
        background-color: navy;
        color:white;
    }
    /* .enrollDetail {
        overflow: scroll;
    } */
}

/* SPECIFICATIONS FOR iPad LANDSCAPE SCREENS */


/* SPECIFICATIONS FOR LAPTOP WITH MDP SCREENS */
@media (min-width: 1280px) {
    .parent {
        display:grid;
        width:95%;
        grid-template-rows: 40px 40px fit-content(150px) 60px fit-content(200px) fit-content(100px) 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"selectMemberArea   titleArea           titleArea           versionArea"
                            "memberNameArea     memberNameArea      memberNameArea      memberNameArea"                   
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea"
                            "processArea        processArea         processArea         processArea";
        grid-area: 0;                
        margin: 0 auto;
        background-color:white;
        
    } 
    
    .title {
        grid-area: titleArea;
        width:100%;
        padding-left:0em;
        padding-top:.5em;
        background-color:navy;
        color:white;
        font-size:.75rem;
        text-align:center;
    }
    .version {
        grid-area: versionArea;
        text-align:right;
    }
    
    .selectMemberSection {
        grid-area: selectMemberArea;
        max-width:100%;
        padding-top:.3em;
        padding-left:3em;
        text-align:left;
        background-color:navy;
        color:white;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align:center;
        padding-top:.75em;
        background-color: lightgray;
        color:navy;
    }
    .coursesTakenSection {
        grid-area: coursesTakenArea;
        max-width: 100%;
        background-color: lightgrey;
        font-size:1rem;
    }
    
    .coursesTakenHdg {
        background-color: navy;
        color:white;
        text-align:left;
        height:40px;
        padding-top:7px;
    }
    .coursesTakenColHdg {
        background-color: navy;
        color:white;
        text-align: left;
        padding-left:15em;
    }
    /* .coursesTakenColHdg div {
        border:1px solid white;
    } */
    .coursesTakenDetail {
        overflow-x:hidden;
        overflow-y:auto;
        background-color:lightgray;
        color:navy;
        height:200px;
        padding-left:15em;
    }
    
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "filterTitleArea  filter1Area   filter2Area     filter3Area";
        border-top:4px solid white;
        border-bottom:4px solid white;
    }
    .filterTitle {
        grid-area:filterTitleArea;
        max-width:100%;
        height:60px;
        padding-top:2em;
        padding-left:0em;
        background-color:maroon;
        color:white;
        font-size:.5rem;
        border-bottom:4px solid white;
    }
    .filter1Section {
        grid-area:filter1Area;
        max-width:100%;
        height:60px;
        padding-top:2em;
        padding-left:0em;
        background-color:maroon;
        color:white;
        font-size:.5rem;
        border-bottom:4px solid white;
    }
    /* #showAll:active {
        background-color: yellow;
        color:red;
    } */
    .filter2Section {
        grid-area:filter2Area;
        max-width:100%;
        padding-top:1em;
        padding-left:0em;
        background-color:maroon;
        color:white;
    }
    .filter3Section {
        grid-area:filter3Area;
        max-width:100%;
        padding-top:1em;
        padding-right:.5em;
        text-align:center;
        background-color:maroon;
        color:white;
        border-bottom:2px solid white;
    }
    .courseOfferingsSection {
        grid-area:offeringsArea;
        background-color: beige;
        font-size:1rem;
    }
    
    .courseOfferingsHdg {
        background-color:maroon;
        color:white;
        text-align:left;
    }
    .courseOfferingsColHdgs {
        background-color: maroon;
        color:white;
    }
    .courseOfferingsDetail {
        background-color: beige;
        color:maroon;
        font-size: 1rem;
    }
    #courseOfferingsTable tbody {
        overflow:auto;
        height:100px;
    }
    .enrollSection {
        grid-area: enrollArea;
        font-size:1rem;
        background-color: lightgrey;
        max-width: 100%;
        padding-left:0em;
        padding-right:0em;
        border:1px solid red;
    }
    .enrollHdg {
        background-color: navy;
        color:white;
        text-align:left;
        height:40px;
        padding-top:7px;
    }
    .enrollColHdg {
        background-color: navy;
        color:white;
        text-align: left;
        padding-left:50px;
    }
    .enrollDetail {
        overflow-x:hidden;
        overflow-y:auto;
        background-color:lightgray;
        color:navy;
        height:150px;
        padding-left:50px;
    }
    /* .enrollTitle {
        grid-area: enrollTitleArea;
    }
    .enrollTerm {
        grid-area: enrollTermArea;
        font-size:1.5rem;
    } */
    
    .processSection {
        grid-area: processArea;
        background-color: beige;
        color:green;
        text-align:center;
        border:1px solid navy;
    }
}


/* SPECIFICATIONS FOR MONITOR  */
/* @media (min-width: 1440px) {
     
}*/