/* html {
    font-size:16px or font-size:62.5% or don't specify and let browser set base font  */

.close {
        color: #fff; 
        opacity: 1;
        
}
.times {
    position: absolute;
    top:0; right:1em;
}

*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 1rem;
    font-family:'Lato', sans-serif;
    color: #2e354f;
}

table tr td {
    padding:0px !important;
}

/* Typography */
/* 
h1,
h2,
strong {
    font-weight: 900;
} */

/* h1 {
    font-size: 3rem;
    margin-bottom: .5em;   /* = half of the font-size */
/*}

h2 {
    font-size: 2rem;
} */

.tooltip-inner {
    background-color:white;
    color:navy;
}
/* Layout for iPhone (small devices) */
.parent {
    display:grid;
    width:100%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 140px 50px 50px 60px fit-content(150px) 100px auto;
    grid-template-columns:1fr 1fr;
    grid-template-areas:"appTitleArea       appTitleArea"
                        "versionArea        versionArea"
                        "messageArea        messageArea"
                        "messageArea        messageArea"
                        "selectMemberArea   selectMemberArea"
                        "memberNameArea     prtBtnArea"
                        "coursesTakenArea   coursesTakenArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "filterArea         filterArea"
                        "offeringsArea      offeringsArea"
                        "enrollArea         enrollArea"
                        "lightSpeedArea     lightSpeedArea";
        
    margin: 0 auto;
    padding:0em;
    gap:0;
    background-color: yellowgreen;
    border:1px solid navy;
} 
/* .title {
    grid-area: titleArea;
    width:100%;
    padding-left:0em;
    padding-top:.5em;
    background-color:navy;
    color:white;
    text-align:left;
} */
.appTitleSection {
    grid-area: appTitleArea;
    text-align:center;
    background-color: navy;
    color:white;
    border-bottom: 1px solid white;
}


.versionSection {
    grid-area: versionArea;
    max-width:100%;
    text-align:center;
    padding-top:.5em;
    padding-right:1em;
    background-color: navy;
    color:white;
    border-bottom: 1px solid white;
}
.messageSection {
    grid-area:messageArea;
    text-align:center;
    background-color: navy;
    color:white;
    padding-top:.5em;
}
.repeatMsg {
    padding-right:30px;
}
.moreThanTwoMsg {
    padding-right:1px;
}
/* .moreThan2DateSection {
    grid-area:moreThan2DateArea;
    text-align:center;
    background-color: navy;
    color:white;
    padding-top:.5em; 
}*/

.selectMemberSection {
    grid-area: selectMemberArea;
    max-width:100%;
    padding-top:.3em;
    text-align:center;
    background-color:navy;
    color:white;
}
.memberNameSection {
    grid-area:memberNameArea;
    height:40px;
    text-align:left;
    padding-top:.2em;
    background-color: lightgray;
    color:navy;
    font-size:1.25rem;
    font-weight: 700;
    border-bottom: 1px solid white;
}
.prtBtnSection {
    grid-area:prtBtnArea;
    margin-left:300px;
    padding-top:.2em; 
}

.datesSection {
    grid-area:datesArea;
    display:grid;
}

.coursesTakenSection {
    grid-area: coursesTakenArea;
    overflow-x:auto;
    overflow-y:visible;
    max-width: 100%;
    padding-left:0em;
    padding-right:0em;
    background-color: lightgray;
}
.coursesTakenHdg {
    background-color: navy;
    color:white;
    text-align:center;
    font-size:.5rem;
    border-bottom: 1px solid blue;
}
.coursesTakenColHdg {
    background-color: navy;
    color:white;
    font-size:.5rem;
}

.coursesTakenDetail {
    overflow-y:auto;
    background-color:lightgray;
    color:navy;
    font-size:.5rem;
    height:100px;
    padding-left:0em;
}
.filterSection {
    grid-area:filterArea;
    display:grid;
    grid-template-rows: 30px 1fr 1fr 1fr;
    grid-template-columns: 373px;
    grid-template-areas: "filterTitleArea"
                        "filter1Area"
                        "filter2Area"
                        "filter3Area";
} 
.filterTitle {
    grid-area:filterTitleArea;
    text-align:center;
    height:30px;
    padding-top:.2em;
    padding-left:0em;
    background-color:maroon;
    color:white;
    font-size:1rem;
    border-bottom:1px solid white;
}  
.filter1Section {
    grid-area:filter1Area;
    max-width:100%;
    padding-top:.5em;
    padding-left:0em;
    text-align:center;
    background-color:maroon;
    color:white;
    border-bottom:2px solid white;
}

.showOptions label {
    height:25px;
    margin-top:.1em;
    font-size:.75rem;
}
.filter2Section {
    grid-area:filter2Area;
    text-align: center;
    max-width:100%;
    padding-top:.25em;
    padding-left:4em;
    background-color:maroon;
    color:white;
    border-bottom:2px solid white;
}
.filter2Section input {
    width:250px;
}
.filter3Section {
    grid-area:filter3Area;
    max-width:100%;
    padding-top:.25em;
    text-align:center;
    background-color:maroon;
    color:white;
    border-bottom:2px solid white;
}
.courseOfferingsSection {
    grid-area:offeringsArea;
    overflow-x:auto;
    overflow-y:auto;
    max-width: 100%;
    background-color: beige;
    font-size:.5rem;
}
/* .courseOfferingsHdg {
    background-color: maroon;
    color:white;
    text-align:center;
} */
.courseOfferingsColHdgs {
    background-color: maroon;
    color:white;
}
.courseOfferingsDetail {
    overflow-x:auto;
    overflow-y:auto;
    background-color: beige;
    color:maroon;
    font-size: .5rem;
}

.enrollSection {
    grid-area: enrollArea;
    overflow-x:auto;
    overflow-y:hidden;
    max-width: 100%;
    font-size:.5rem;
    padding:0rem;
    margin:0rem;
    background-color: white;
}
.enrollHdg {
    height: 30px;
    background-color:navy;
    color:white;
    text-align:center;
    font-size:.5rem;
    padding:0rem;
    margin:0rem;
    border-bottom:1px solid white;
}
.enrollColHdgs {
    overflow-x:auto;
    background-color: navy;
    color:white;
    padding:0rem;
}
.enrollDetail {
    overflow-x:auto;
    overflow-y:auto;
    max-width: 100%;
    background-color:lightgray;
    color:navy;
    height:50px;
    padding-left:0px;
}
.lightSpeedSection {
    grid-area: lightSpeedArea;
    text-align:left;
    padding-top:0em;
    padding-left:0em;
    font-size:.5rem;
    border-bottom: 2px solid navy;
}
.lightSpeedHdg {
    height:40px;
    text-align: center;
    background-color: lightgray;
    color:beige;
    padding-top:.5em;
    padding-left:0em;
}

.lightSpeedForm {
    display:none;
    background-color: beige;
    color:maroon;
    font-size:.75rem;
}
#lightSpeedReceiptNumber {
    border:2px solid maroon;
    background-color: beige;
    color:maroon;
}


/* SPECIFICATIONS FOR iPad PORTRAIT SCREENS */
@media (min-width: 768px) {
    .parent {
        display:grid;
        width:100%;
        grid-template-rows: 40px 40px 40px 200px 40px 40px 40px fit-content(200px) fit-content(250px) 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:"appTitleArea       messageArea         messageArea         versionArea"        
                            "selectMemberArea   selectMemberArea    memberNameArea      prtBtnArea" 
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea"
                            "filterArea         filterArea          filterArea          filterArea"
                            "filterArea         filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea"
                            "lightSpeedArea     lightSpeedArea      lightSpeedArea      lightSpeedArea";
        background-color:lightgray;
    }

    .appTitleSection {
        text-align:left;
        font-size:1rem;
        padding-top:.5em;
    }
    
    .versionSection {
        font-size:1rem;
        padding-top:.5em;
    }
    .repeatDateSection {
        border-bottom: 1px solid white;
    }
    .moreThan2DateSection {
        border-bottom: 1px solid white;
    }
    .selectMemberSection {
        text-align:left;
        border-bottom: 1px solid white;
        padding-left:1em;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align: left;
        height:40px;
        font-size:1.25em;
        padding-bottom:0em;
        background-color:white;
        color:navy;
        border-bottom: 1px solid white;
    }
    .coursesTakenHdg {
        font-size:1.5em;
    }
    .coursesTakenColHdg {
        font-size:.75rem;
    }
    .coursesTakenDetail {
        font-size:.75rem;
    }
    .courseOfferingsColHdgs {
        position: sticky; top: 0; 
        font-size: .75rem;
    }
    .courseOfferingsDetail {
        font-size: .75rem;
    } 
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-rows: 30px 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "filterTitleArea   filterTitleArea"
                            "filter1Area        filter1Area"
                            "filter2Area        filter3Area";
    }   
    .filterTitle {
        font-size:1.5rem;
        padding-top:0em;
    }
    .lightSpeedHdg {
        text-align: center;
        border-bottom: 1px solid white;
    }
}


/* SPECIFICATIONS FOR LAPTOP WITH MDP SCREENS */
@media (min-width: 1280px) {
    .parent {
        display:grid;
        width:75%;
        grid-gap: 0em;
        grid-template-rows: 40px 40px fit-content(150px) fit-content(60px) fit-content(300px) fit-content(300px) fit-content(100px) 150px;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:"appTitleArea       messageArea         messageArea         messageArea         versionArea"
                            "selectMemberArea   selectMemberArea    memberNameArea      memberNameArea      prtBtnArea" 
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea    coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea          filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea       offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea          enrollArea"
                            "lightSpeedArea     lightSpeedArea      lightSpeedArea      lightSpeedArea      lightSpeedArea";
        grid-area: 0;                
        margin: 0 auto;
        background-color:lightgray;
        
    } 
    
    .appTitleSection {
        text-align:left;
        font-size:1rem;
        padding-top:.5em;
    }
    
    .versionSection {
        font-size:1rem;
        padding-top:.5em;
    }
    .repeatDateSection {
        border-bottom: 1px solid white;
    }
    .moreThan2DateSection {
        border-bottom: 1px solid white;
    }
    .selectMemberSection {
        text-align:left;
        border-bottom: 1px solid white;
        padding-left:1em;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align: left;
        height:40px;
        font-size:1.25em;
        padding-bottom:0em;
        background-color:white;
        color:navy;
        border-bottom: 1px solid white;
    }

    
    .coursesTakenHdg {
        padding-top:.3rem;
    }
    .coursesTakenColHdg {
        font-size:1rem;
    }
    .coursesTakenDetail {
        font-size:1rem;
    }
     
    .filterSection {
        grid-area:filterArea;
        display:grid;
        grid-template-rows: 40px 50px ;
        grid-template-columns: 2fr .5fr 1fr 2fr;
        grid-template-areas: "filterTitleArea filterTitleArea filterTitleArea filterTitleArea "
                            "filter1Area filter2Area filter3Area filter3Area";
        background-color: maroon;
    } 
    
    .filter1Section {
        padding-top:0.1em;
        padding-left:1em;
        text-align:left;
    }
    .showOptions label {
        height:35px;
        margin-top:.3em;
    }
    .filter2Section {
        padding-left:0em;
        padding-top:.3em;
    }
    .filter3Section {
        padding-top:.3em;
        padding-left:2em;
        text-align:left;
    }
    .courseOfferingsHdg {
        padding-top:.3rem;
    }
    .courseOfferingsColHdgs {
        position: sticky; top: 0; 
        font-size: .75rem;
    }
    .courseOfferingsDetail {
        font-size: .75rem;
    }

    .enrollSection {
        height:150px;
        
    }
    .enrollColHdgs {
        font-size: .75rem;
    }
    .enrollDetail {
        height:100px;
        font-size: .75rem;
    }
    
    .lightSpeedSection {
        font-size: 1rem;
    }
    .lightSpeedForm {
        font-size:1rem;
    }
    #lightSpeedReceiptNumber {
        font-size: large;
    }

}
/* SPECIFICATIONS FOR LARGE MONITORS */
@media (min-width: 1440px) {
    .parent {
        display:grid;
        width:80%;
        grid-gap: 0em;;
        grid-template-rows: 40px 40px fit-content(250px) fit-content(60px) fit-content(300px) fit-content(50px) fit-content(150px);
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-areas:"appTitleArea       messageArea         messageArea         messageArea             versionArea"
                            "selectMemberArea   selectNameArea      memberNameArea      prtBtnArea          prtBtnArea"                                               
                            "coursesTakenArea   coursesTakenArea    coursesTakenArea    coursesTakenArea        coursesTakenArea "
                            "filterArea         filterArea          filterArea          filterArea              filterArea"
                            "offeringsArea      offeringsArea       offeringsArea       offeringsArea           offeringsArea"
                            "enrollArea         enrollArea          enrollArea          enrollArea              enrollArea"
                            "lightSpeedArea     lightSpeedArea      lightSpeedArea      lightSpeedArea          lightSpeedArea";
        grid-area: 0;                
        margin: 0 auto;
        background-color:lightgray;
        border:2px solid navy;
    } 
    
    .versionSection {
        padding-right:5em;
        text-align:right;
    }
    
    .repeatDateSection {
        padding-left:5em;
        border-bottom: 1px solid white;
        text-align:left;
    }
    .selectMemberSection {
        text-align:left;
        background-color: lightgray;
    }
    .memberNameSection {
        grid-area:memberNameArea;
        text-align:center;
        font-size:1.5rem;
        background-color: white;
        color:navy;
    }
    #prtScheduleBtn {
        grid-area:prtBtnArea;  
    }
    .enrollDetail {
        height:100px;
    }
    .lightSpeedSection {
        border-bottom:4px solid navy;
    }
}
