
/* MODAL FORM FOR SHOWING TODAYS MONITORS */
#modal {
  display:block;
  width:60%;
  color:blue;
}
.modal-content {
  background-color:beige;
  color:navy;
  height:max-content;
  border:3px solid lightgreen;
}
.modal-header {
  background-color: navy;
  color:white;
}
.modal-header button {
  float: right;
  }
.modal-body {
  width:100%;
  background-color: white;
  color:maroon;
  border:3px solid orange;
}
.modal-xl {
  width: 95%;
  max-width:1200px;
}
.modal-title {
  width:100%;
  text-align:left;
  }
.modal-body form {
  width:60%;
  height:min-content;
  background-color: lightgrey;
  color:navy;
  border: 1px solid navy;
  padding-left:5em;
  padding-bottom:0em;
  margin:0 auto;
}

/* .approvalOptions {
  height:100px;
  padding-left:0em;
  border:1px solid red;

} */
.modal-footer {
  height:50px;
  margin:0px;
  padding-top:0px;
  padding-bottom:0px;
  background-color: gray;
  }
.footer-left-col {
  width:100%;
  text-align: right;
  padding-top:0em;
}
.footer-right-col {
  width:80%;
  text-align: left;
  padding-top:0em;
}
.footer-left-col button {
  width:200px; 
  height:30px;
  font-size: 1rem;
  text-align:center;
  padding-right:0em;
}
.footer-right-col button {
  width:200px;
  height:30px; 
  font-size: 1rem;
  text-align:center;
  padding-left:0em;
}
/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 42px;
  font-weight: bold;
  }
.close:hover,
.close:focus {
  color:white;
  text-decoration: none;
  cursor: pointer;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  /* .tooltip .tooltiptext { */
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  