{% extends 'base.html' %}
{% block title %}CLASS SIGNUP{% endblock title %}
<head>
    
</head>
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
   
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">   

{% block app_content %}
<!-- <form id=waitListFormID method='POST' action="/updateWaitList">  -->

<div class="parent">
    <div class="selectMemberSection">
        <select id="selectMemberID" class='selectpicker form-control form-control-sm' data-width=300px title='Select a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
            <option value="">Select a member ...</option>
            {% for nme in memberArray %}
                <option  class="optName" value='{{nme}}'>{{ nme }}</option>
            {% endfor %}
        </select>
    </div>  

    <div class="title">
        <h4>---------- CLASS SIGNUP ----------</h4>
        <input id="memberID" type="text" value={{memberID}}>
        <input id='staffID' type="hidden" value={{staffID}}>
        <input id='isDBA' type="hidden" value={{isDBA}}>
        <input id='isMgr' type="hidden" value={{isMgr}}>
        <input id='certificationStatus' type="hidden" value = {{certificationStatus}}>
        <input id='enrollmentsThisTerm' type="hidden" value = {{enrollmentsThisTerm}}>
        <input id='moreThan2ClassesAllowedDate' type="text" value = {{moreThan2ClassesAllowedDateSTR}}>
        <input id='moreThan2ClassesAllowed' type="hidden" value = {{moreThan2ClassesAllowed}}>   
    </div>

    <div class="version">
        <div>
            Staff - {{staffName}}&nbsp;&nbsp;&nbsp;&nbsp;ver. Jan 8, 2021
        </div>
    </div> 
    

    <div class="memberNameSection">
        <h3>{{memberName}}</h3>  
    </div>
   
    <div class="coursesTakenSection">
        <div class='coursesTakenHdg'>
            <h4>COURSES COMPLETED</h4>
        </div>
        <div class="coursesTakenColHdg">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1">Crse#</div>
                <div class="col-2">Term</div>
                <div class="col-3">Title</div>
                <div class="col-2">Dates</div>
                <div class="col-2">Instructor</div>
                
            </div>
        </div>
        <div id='coursesTakenDetail' class="coursesTakenDetail">
            {% for sItem in scheduleDict %}
                <div class="row" style="border-bottom:1px solid navy">
                    <div class="col-1"></div>
                    <div class="col-1">{{sItem.courseNum}}</div>
                    <div class="col-2">{{sItem.term}}</div>
                    <div class="col-3">{{sItem.title}}</div>
                    <div class="col-2">{{sItem.dates}}</div>
                    <div class="col-2">{{sItem.instructor}}</div>
                    
                        <button
                            id="{{sItem.enrollmentID}}" 
                            class="dropClassTakenBtn btn-outline btn-sm"
                            style="height:25px"
                            onclick=removeEnrollmentRecord(this.id)>
                            REMOVE
                        </button>
                    
                </div>
            {% endfor %}    
        </div>
    </div>
    
    <div class="filterSection">
        <div class="filterTitle">
            <div class="courseOfferingsHdg">
                <h4>CURRENT OFFERINGS</h4>
            </div>
        </div>
            
        <div class="filter1Section">
            <div class="showOptions btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label id='showAll' class="btn btn-secondary btn-sm" active style=margin-left:10px onclick=showAllClasses()>
                    <input type="radio" name="showOptions" autocomplete="off">SHOW ALL CLASSES
                </label>
                <label id='showOpen' class="btn btn-secondary btn-sm" style=margin-left:10px onclick=showOpenOnly()>
                    <input type="radio" name="showOptions" autocomplete="off">OPEN CLASSES ONLY
                </label>
            </div>
        </div>   

        <div class="filter2Section">    
            <input id= 'myInput' class='form-control form-control-md' type="text" style=height:30px;width:150px placeholder="Enter keywords ...">
        </div>

        <div class="filter3Section">   
            <select id="selectCourseID" class='selectpicker form-control form-control-sm' title='Select a course ...' data-live-search=true data-live-search-style="contains" data-width='300px'>
                {% for course in courseArray %}
                    <option  class="optName" value='{{course}}'>{{ course }}</option>
                {% endfor %}
            </select> 
        </div>
    </div>

    <div class="courseOfferingsSection">
        <table id="courseOfferingsTable" class="courseOfferingsTable table table-sm">
            <thead class='courseOfferingsColHdgs'>
                <tr>
                    <th>Section</th>
                    <th>Title</th>
                    <th>Instructor</th>
                    <th>Dates</th>
                    <th>Cap</th>
                    <th>Taken</th>
                    <th>Avail</th>
                    <th>Fee</th>
                    <th>Supplies</th>
                    <th>Supply Fee</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class='courseOfferingsDetail'>
                {% for offering in offeringDict %}
                    <tr class="offeringRow {{offering.fullMsg}} {{offering.closedMsg}}" style="border-top:3px solid maroon">
                        <td class='offeringSectionName'>{{offering.sectionName}}</td>
                        <td class='offeringTitle'>{{offering.title}}</td>
                        <td class='offeringInstructor'>{{offering.instructorName}}</td>
                        <span class='tooltiptext'>Click for list of enrollees</span>  
                        <td>{{offering.dates}}</td>
                        <td>{{offering.capacity}}</td>
                        <td>{{offering.seatsTaken}}</td>
                        <td>{{offering.seatsAvailable}}</td>
                        <td>
                            {{"$%.2f"|format(offering.fee)}}
                        </td>
                        <td>{{offering.supplies}}</td>
                        <td>{{"$%.2f"|format(offering.suppliesFee)}}</td>
                        <td style=color:red>{{offering.fullMsg}}</td>
                        <td style=color:red>{{offering.closedMsg}}</td>
                        <td>
                            {% if offering.fullMsg != 'FULL' and offering.closedMsg != 'CLOSED' %}
                                <button type="button" 
                                    id="{{offering.sectionName}}"
                                    class="enrollBtn btn btn-primary btn-sm btn-spacing"
                                    style=display:none;height:25px>
                                    ENROLL
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% if offering.prereq != '' or offering.notes != '' %}
                        <tr class=" {{offering.fullMsg}} {{offering.closedMsg}}">
                            {% if offering.notes != '' %}
                                <td></td>
                                <td style=color:black>{{offering.notes}}</td>
                            {% endif %}
                            {% if offering.prereq != '' %}
                                <td id='p{{offering.sectionName}}' style=color:red>Prerequisite -  {{offering.prereq}}</td>
                            {% endif %}
                        </tr>                    
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
         
    <div class="enrollSection">
        <div class='enrollHdg'>
            <h4>
                REGISTRATION - &nbsp;
                <span id='termID'>{{term}}</span>
            </h4>
        </div>
        <div class="enrollColHdg">
            <div class="row">
                <div class="col-1">Crse#</div>
                <div class="col-3">Title</div>
                <div class="col-2">Instructor</div>
                <div class="col-1" style=text-align:right>Course Fee</div>
                <div class="col-1" style=text-align:right>Supplies Fee</div>
                <div class="col-1" style=text-align:right>Ext Price</div>
                <div class="col-1" style=text-align:center>Taxable</div>
                <div class="col-1">Receipt#</div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id='enrollDetail' class="enrollDetail">
            {% for e in enrolledDict %}
                <div class="row" style="border-bottom:1px solid navy">
                    <div class="col-1">{{e.courseNum}}</div>
                    <div class="col-3">{{e.title}}</div>
                    <div class="col-2">{{e.instructor}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.courseFee)}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.suppliesFee)}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.extPrice)}}</div>
                    <div class="col-1" style=text-align:center>
                        {% if e.taxable == 'True' %}
                            Yes
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div class="col-1"
                        {% if e.receipt == 'PENDNG' %}
                            style="color:green"
                        {% else %}
                            style="color:navy"
                        {% endif %}>
                        {{e.receipt}}
                    </div>
                    <div class="col-1">
                        <button 
                            id="{{e.enrollmentID}}" 
                            class="removeEnrollmentBtn btn-outline btn-sm"
                            style=height:25px;
                            onclick=removeEnrollmentRecord(this.id)>
                            REMOVE
                        </button>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
    
    <div class="lightSpeedSection">
        <div class='lightSpeedHdg'>
            <h4>
                RECORD PAYMENT
            </h4>
        </div>
        <div id='lightSpeedFormID' class="lightSpeedForm">
            <div class="row">
                <div class="col">
                    <label>
                        &nbsp; Enter the transaction number to be used for all 'PENDING' enrollments for the member with lightspeed ID
                        <span style=color:blue> {{lightSpeedID}} - </span>.</label>
                </div>
            </div>
            <div class="row" style=text-align:center>
                <div class="col-3">
                    <label for="receiptID">&nbsp;Lightspeed transaction # (receipt) - </label>
                    <input id="lightSpeedReceiptNumber" type="text">
                </div>
            
                <div class="col-2">
                    <button id='lightspeedBtn' class="btn btn-primary btn-sm">UPDATE PENDING</button>
                </div>
            </div>
        </div>   
    </div>
</div>

<!-- -------------------- MODAL FORM FOR SHOWING COURSE DESCRIPTION --------------------- -->
<div id="courseDescriptionModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseDescriptionTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <div id='offeringCourseDescription' contenteditable="true"></div>
                
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseDescriptionID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseDescriptionID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- -------------------- MODAL FORM FOR SHOWING COURSE NOTES --------------------- -->
<div id="courseNotesModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseNotesTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Course notes:</span><br>
                <div id='offeringCourseNote' contenteditable="true"></div>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseNotesID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseNotesID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -------------------- MODAL FORM FOR SHOWING MEMBERS IN A CLASS --------------------- -->
<div id="courseMembersModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseMembersTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Members enrolled:</span><br>
                <div id='offeringCourseMembers' contenteditable="true"></div>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseNotesID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseNotesID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- -------------------- MODAL FORM FOR CHECKING PREREQUISITES --------------------- -->
<div id="coursePrereqModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCoursePrereqTitle" >Prerequisite Requirements</h5>
                <input type="hidden" id="modalSectionNumber">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id='prerequisites' contenteditable="true"></div>
                <br><br>
                <div id='approvalOptions'>
                    <form>
                        <div class="approvalOptions btn-group-vertical">
                            <label for="">Select one of the following -</label>
                
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="approvalOption" id="approvalOption1" value="Completed prerequisite course(s)">
                                <label class="form-check-label" for="approvalOption1">
                                    Completed prerequisite course(s)  
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="approvalOption" id="approvalOption2" value="Member is on instructor approval log">
                                <label class="form-check-label" for="approvalOption2">
                                    Member is on instructor approval log
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="approvalOption" id="approvalOption3" value="Written/Verbal approval from instructor">
                                <label class="form-check-label" for="approvalOption3">
                                    Written/Verbal approval from instructor
                                </label>
                            </div>
                        </div> 
                    </form> 
                </div>
                <div class="modal-footer">
                    <div class='col-6 footer-left-col'>
                        <button id='lackPrerequisitesID' type='button' class='btn-danger '>Not Approved</button>   
                    </div> 
                    <div class='col-6 footer-right-col'> 
                        <button id='metPrerequisitesID' type="button" disabled=true class="btn-success">Approved</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/classes.js') }}"> </script>
{% endblock %}
        