{% extends 'base.html' %}
{% block title %}CLASS SIGNUP{% endblock title %}
<head>
    
</head>
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
   
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">   

{% block app_content %}

<div class="parent">
    <div class="appTitleSection">
        <label>CLASS SIGNUP</label>
        
    </div>

    <div class="versionSection">
       ver. Aug 3, 2021
    </div>

    
    <div class="messageSection">
        <span class='repeatMsg'>Repeat courses allowed after - {{repeatClassesAllowedDateSTR}}</span>
        <span class='moreThanTwoMsg'>More than 2 courses allowed after - {{moreThan2ClassesAllowedDateSTR}}</span>
    </div> 
   
    <div class="selectMemberSection">
        <select id="selectMemberID" class='selectpicker form-control form-control-sm' data-width=300px title='Select a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
            <option value="">Select a member ...</option>
            {% for nme in memberArray %}
                <option  class="optName" value='{{nme}}'>{{ nme }}</option>
            {% endfor %}
        </select> 
    </div>
    
    <div class="memberNameSection">
        {{memberName}} 
    </div>
    <div class="prtBtnSection">
        <button id='prtScheduleBtn' onclick="prtMemberSchedule()" class="btn btn-primary btn-sm" style="display:none;width:150px">Print Schedule</button>
    </div>

    <div class="hiddenVariables">
        <input id='numberOfClasses' type="hidden" value = {{numberOfClasses}}>
        <input id='termID' type="hidden" value = {{term}}>
        <input id="memberID" type="hidden" value={{memberID}}>
        <input id='staffID' type="hidden" value={{staffID}}>
        <input id='isDBA' type="hidden" value={{isDBA}}>
        <input id='isMgr' type="hidden" value={{isMgr}}>
        <input id='certificationStatus' type="hidden" value = {{certificationStatus}}>
        <input id='enrollmentsThisTerm' type="hidden" value = {{enrollmentsThisTerm}}>
        <input id='moreThan2ClassesAllowedDate' type="hidden" value = {{moreThan2ClassesAllowedDateSTR}}>
        <input id='moreThan2ClassesAllowed' type="hidden" value = {{moreThan2ClassesAllowed}}> 
        <input id='repeateCoursesAllowedDate' type="hidden" value = {{repeatCoursesAllowedDateSTR}}>
        <input id='repeateCoursesAllowed' type="hidden" value = {{repeatCoursesAllowed}}>   
    </div>

    <div class="coursesTakenSection">
        <div class='coursesTakenHdg'>
            COURSES COMPLETED
        </div>
        <div class="coursesTakenColHdg">
            <div class="row">
                <div class="col-1">Crse#</div>
                <div class="col-1">Term</div>
                <div class="col-1">Location</div>
                <div class="col-3">Title</div>
                <div class="col-2">Dates</div>
                <div class="col-2">Instructor</div>
                <div class="col-1">Receipt#</div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id='coursesTakenDetail' class="coursesTakenDetail">
            {% for sItem in scheduleDict %}
                <div class="row" 
                style="border-bottom:1px solid navy"
                >
                    <div class="col-1">{{sItem.courseNum}}</div>
                    <div class="col-1">{{sItem.term}} </div>
                    <div class="col-1">{{sItem.location}}</div>
                    <div class="col-3">{{sItem.title}}</div>
                    <div class="col-2">{{sItem.dates}}</div>
                    <div class="col-2">{{sItem.instructor}}</div>
                    <div class="col-1">{{sItem.receipt}}</div>
                    <div class="col-1">
                        <button
                            id="{{sItem.enrollmentID}}" 
                            class="dropClassTakenBtn btn-outline btn-sm"
                            style="height:25px"
                            onclick=removeEnrollmentRecord(this.id)>
                            REMOVE
                        </button>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
    
    <div class="filterSection">
        <div class="filterTitle">
            CURRENT OFFERINGS
        </div>
        <div class="filter1Section">
            <div class="showOptions btn-group btn-group-md btn-group-toggle" data-toggle="buttons">
                <label id='showAll' class="btn btn-secondary btn-md" active  onclick=showAllClasses()>
                    <input type="radio" name="showOptions" autocomplete="off">SHOW ALL CLASSES
                </label>
                <label id='showOpen' class="btn btn-secondary btn-md" style=margin-left:10px onclick=showOpenOnly()>
                    <input type="radio" name="showOptions" autocomplete="off">OPEN CLASSES ONLY
                </label>
            </div>
        </div>   

        <div class="filter2Section">    
            <input id= 'keywordID' class='form-control form-control-sm' type="text"  placeholder="Enter keywords ...">
        </div>

        <div class="filter3Section">   
            <select id="selectCourseID" class='selectpicker form-control form-control-sm'  title='Select a course ...' data-live-search=true data-live-search-style="contains" data-width='450px'>
                {% for course in courseArray %}
                    <option  class="optName" value='{{course}}'>{{ course }}</option>
                {% endfor %}
            </select> 
        </div>
    </div>

    <div class="courseOfferingsSection">
        <table id="courseOfferingsTable" class="courseOfferingsTable table table-sm">
            <thead class='courseOfferingsColHdgs'>
                <tr>
                    <th>Section</th>
                    <th></th>
                    <th>Title</th>
                    <th></th>
                    <th>Instructor</th>
                    <th>Dates</th>
                    <th></th>
                    <th>Cap</th>
                    <th>Taken</th>
                    <th>Avail</th>
                    <th>Fee</th>
                    <th style=text-align:center>Supplies</th>
                    <th>Fee</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <div 
                class="tooltip" 
                role="tooltip">
                <div 
                    class="arrow">
                </div>
                <div class="tooltip-inner">

                </div>
            </div>
            
            <tbody id='courseOfferingsDetail' class='courseOfferingsDetail'>
                {% for offering in offeringDict %}
                    <tr class="{{offering.fullMsg}} {{offering.closedMsg}}" style="border-top:3px solid maroon">
                        <td 
                            data-toggle="tooltip" data-placement="top" title="Click for course description." 
                            class='offeringSectionName' style=width:60px;>{{offering.sectionName}}
                        </td>
                        <td>{{offering.location}}</td>
                        <td 
                            data-toggle="tooltip" data-placement="top" title="Click for course prerequisites." 
                            class='offeringTitle'
                            style='width:300px'>
                            {{offering.title}}
                        </td>
                        
                        <td 
                            id='p{{offering.sectionName}}' 
                            style=color:red;width:300px>
                            {% if offering.prereq != '' %}
                                Prerequisite -  {{offering.prereq}}
                            {% endif %} 
                        </td>
                        
                        <td 
                            style='width:200px' 
                            data-toggle="tooltip" data-placement="top" title="Click for class list." 
                            class='offeringInstructor'>{{offering.instructorName}}</td>
                        <td
                            style=width:175px>
                            {{offering.dates}}
                        </td>
                        
                        <td 
                            id='n{{offering.sectionName}}'
                            style='color:blue;width:200px'>
                            {% if offering.notes != '' %}
                                {{offering.notes}}
                                {% endif %}
                        </td>
                    
                        <td>{{offering.capacity}}</td>
                        <td>{{offering.seatsTaken}}</td>
                        <td>{{offering.seatsAvailable}}</td>
                        <td>
                            {{"$%.2f"|format(offering.fee)}}
                        </td>
                        <td style=text-align:center>{{offering.supplies}}</td>
                        <td>{{"$%.2f"|format(offering.suppliesFee)}}</td>
                        
                        <td style=color:red>{{offering.closedMsg}}</td>
                        <td style=color:red>{{offering.fullMsg}}</td>

                        <td>
                            {% if offering.fullMsg != 'FULL' and offering.closedMsg != 'CLOSED' %}
                                <button type="button" 
                                    id="{{offering.sectionName}}"
                                    class="enrollBtn btn btn-primary btn-sm"
                                    style=display:none;width:85px;font-size:.75rem;height:23px;padding:0px>
                                    1. ENROLL
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
          
    <div class="enrollSection">
        <div class='enrollHdg'>
            <h4>
                REGISTRATION - &nbsp;
                <span id='termID'>{{term}}</span>
            </h4>
        </div>
        <div class="enrollColHdgs">
            <div class="row">
                <div class="col-1">Crse#</div>
                <div class="col-1">Location</div>
                <div class="col-2">Title</div>
                <div class="col-2">Instructor</div>
                <div class="col-1" style=text-align:right>Course Fee</div>
                <div class="col-1" style=text-align:right>Supplies</div>
                <div class="col-1" style=text-align:right>Ext Price</div>
                <div class="col-1" style=text-align:center>Taxable</div>
                <div class="col-1">Receipt#</div>
                <div class="col-1"></div>
            </div>
        </div>
        <div id='enrollDetail' class="enrollDetail">
            {% for e in enrolledDict %}
                <div class="row" style="border-bottom:1px solid navy">
                    <div class="col-1">{{e.courseNum}}</div>
                    <div class="col-1">{{e.location}}</div>
                    <div class="col-2">{{e.title}}</div>
                    <div class="col-2">{{e.instructor}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.courseFee)}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.suppliesFee)}}</div>
                    <div class="col-1" style=text-align:right>{{"$%.2f"|format(e.extPrice)}}</div>
                    <div class="col-1" style=text-align:center>
                        {% if e.taxable == 'True' %}
                            Yes
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div class="col-1"
                        {% if e.receipt == 'PENDNG' %}
                            style="color:green"
                        {% else %}
                            style="color:navy"
                        {% endif %}>
                        {{e.receipt}}
                    </div>
                    <div class="col-1">
                        <button 
                            id="{{e.enrollmentID}}" 
                            class="removeEnrollmentBtn btn-outline btn-sm"
                            style=height:25px;
                            onclick=removeEnrollmentRecord(this.id)>
                            REMOVE
                        </button>
                    </div>
                </div>
            {% endfor %}    
        </div>
    </div>
    
    <div class="lightSpeedSection">
        <div class='lightSpeedHdg'>
            <div>
                <button id='lightspeedPrtBtn'  onclick="prtEnrollmentReceipt()" class="btn btn-primary btn-sm">2. Print today's enrollment.</button>
                <button id='lightspeedPaidBtn' class="btn btn-primary btn-sm">3. Mark class(es) paid.</button>
            </div>
            <!-- <h4>
                RECORD PAYMENT
            </h4> -->
        </div>
        <!-- <div id='lightSpeedFormID' class="lightSpeedForm"> -->
            
            <!-- <div class="row">
                <div class="col">
                    <label>
                        &nbsp; Enter the transaction number to be used for all 'PENDING' enrollments for the member with lightspeed ID
                        <span style=color:blue> {{lightSpeedID}}</span>.</label>
                </div>
            </div>
            <div class="row" style=text-align:left>
                <div class="col-4">
                    <label for="receiptID">&nbsp; Lightspeed transaction # (receipt) - </label>
                    <input id="lightSpeedReceiptNumber" type="text" style=height:25px>
                </div>
            
                <div class="col-6">
                    <button id='lightspeedBtn' class="btn btn-primary btn-sm">PAYMENT COMPLETED</button>
                </div>
            </div> 
        </div>  --> 
    </div>
</div> 

<!-- -------------------- MODAL FORM FOR SHOWING COURSE DESCRIPTION --------------------- -->
<div id="courseDescriptionModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseDescriptionTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                <div id='offeringCourseDescription' contenteditable="true"></div>
                
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseDescriptionID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseDescriptionID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- -------------------- MODAL FORM FOR SHOWING COURSE NOTES --------------------- -->
<div id="courseNotesModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseNotesTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Course notes:</span><br>
                <div id='offeringCourseNote' contenteditable="true"></div>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseNotesID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseNotesID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- -------------------- MODAL FORM FOR SHOWING MEMBERS IN A CLASS --------------------- -->
<div id="courseMembersModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCourseMembersTitle" ></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
                
            </div>
            <div class="modal-body courseMembers">
                
                <div class="classMembers">
                    <span>CLASS MEMBERS</span><br>
                    <div id='offeringCourseMembers' contenteditable="true"></div>
                </div>
                <br><br>
                
                <div class="modal-footer">
                    <div class='footer-left-col'>
                       
                    </div> 
                    <div class='footer-right-col'> 
                        <!-- <button id='cancelCourseNotesID' type='button' class='btn btn-secondary btn-sm'>Close</button>
                        <button id='processCourseNotesID' type="button" class="btn btn-primary btn-sm">Save</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- -------------------- MODAL FORM FOR CHECKING PREREQUISITES --------------------- -->
<div id="coursePrereqModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id='approvalForm' class='approvalForm' action="" style=height:400px>   
            <div class="modal-header">
                <h5 class="modal-title" id="modalCoursePrereqTitle" >Prerequisite Requirements</h5>
                <input type="hidden" id="modalSectionNumber">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            
                <br><br>
            <div class="modal-approval-body"> 
                <div id='prerequisites' contenteditable="true"></div>
                <div id='approvalOptionSelected' class="approvalOptions btn-group-vertical">
                    <select name="" id="approvalSelected">
                        <option id='notApprovedID' value="NOT APPROVED">NOT APPROVED</option>
                        <option value="Completed prerequisite course(s)">Completed prerequisite course(s)</option>
                        <option value="Member is on instructor approval log">Member is on instructor approval log</option>
                        <option value="Written/Verbal approval from instructor">Written/Verbal approval from instructor</option>
                        <option value="Other">Other</option>
                    </select>
                
                    <div class='approvalText'>
                        <textarea name="approvalText" id="approvalText" cols="45" rows="3"></textarea>
                    </div> 
                </div>
            </div> 
                
            <div class="modal-approval-footer" style=text-align:center>
                <div class='col-12'> 
                    <button id='processPrerequisiteApprovalID' for="approvalForm" style=padding-top:1em; type="button" data-dismiss="modal" class="btn-success btn-sm">CONFIRM</button>
                </div>
            </div>
            </form>  
        </div>
    </div>
</div>

<!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle"></h5>
				<button type="button" class="close" onclick=closeModal() aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id=modalBody style=text-align:center>
			</div>
			
				<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick=closeModal() data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/classes.js') }}"> </script>
{% endblock %}
        